{% extends "base.html" %}
{% block title %} WxMusic | Sunny {% endblock title %}

{% block content %}
<div class="flex_center full_space" id="sun_frame">
    <div class="flex_center content_box">
        <!-- This div will fill with the YouTube "iframe" player -->
        <div id="player"></div>

        <h3 style="padding: 0px;" class="text-center">Use a <a href="/">location</a> to see the current weather!</h3>

        <hr style="border:solid 1px black; display: block; width: 90%;">

        <!-- These buttons will be used across the different weather pages and has the JS housed in the base.html -->
        <button class="btn btn-primary vid_button long_button" id="play_button" style="display: none;">
            <i class="fas fa-play"></i>
        </button>
        <button class="btn btn-warning vid_button long_button" id="pause_button">
            <i class="fas fa-pause"></i>
        </button>

        <p id="title" class="song_title_p"></p>
        <form id="save_song_form">
            <input type="hidden" id="save_song" name="save_song" value="">
            <input type="hidden" id="save_url" name="save_url" value="">
            <div class="btn-group" role="group">
                {% if current_user.is_authenticated %}
                    <button type="submit" class="btn btn-dark small_button" id="save_button" title="Save Song">
                        <i class="fas fa-save"></i>
                    </button>
                {% else %}
                    <button type="button" class="btn btn-dark small_button" data-container="body" data-toggle="popover"
                            data-placement="left" data-content="<a href='/signup'>Signup</a> to save songs!">
                        <i class="fas fa-save"></i>
                    </button>
                {% endif %}
                <a type="button" id="song_link" class="btn btn-danger small_button" href="" target="_blank"
                   title="Link to Song">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </form>
    </div>
</div>

<script>
// The following is the script to use JS with the YouTube API via google, hence the numbered steps. //
// 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// 3. This function creates an <iframe> (and YouTube player) after the API code downloads.
// This is only used for audio, so height and width are 0.
    function onYouTubeIframeAPIReady() {
        var rand_index = Math.floor((Math.random() * 7) + 1)
        var player = new YT.Player("player", {
            height: '0',
            width: '0',
            playerVars: {
                listType:'playlist',
                list:'PLyfbZoo34M09Nwe1TVaikLWuvUk7-8TCT',
                index: rand_index,
                autoplay: 1,
                loop: 1,
            },
            events: {
                'onReady': function (event) {
                    setTimeout(function() {
                        event.target.setShuffle({'shufflePlaylist' : true});
                    }, 1000);

                    document.getElementById("title").innerText = player.getVideoData().title;
                    document.getElementById("save_song").value = player.getVideoData().title;
                    document.getElementById("save_url").value = player.getVideoUrl();
                    document.getElementById("song_link").href = player.getVideoUrl();
                    player.setVolume(50);

                    var playButton = document.getElementById("play_button");
                    playButton.addEventListener("click", function() {
                        player.playVideo();
                    });

                    var pauseButton = document.getElementById("pause_button");
                    pauseButton.addEventListener("click", function() {
                        player.pauseVideo();
                    });
                },

                'onStateChange': function (event) {
                    if (event.data == YT.PlayerState.ENDED) {
                        document.getElementById("title").innerText = player.getVideoData().title;
                        document.getElementById("save_song").value = player.getVideoData().title;
                        document.getElementById("save_url").value = player.getVideoUrl();
                        document.getElementById("song_link").href = player.getVideoUrl();
                        document.getElementById("save_button").innerHTML = '<i class="fas fa-save"></i>';
                    }
                }
            }
        });
    }

</script>
{% endblock content %}