html, body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

h2 {
    padding-bottom: 5%;
}

#index_frame {
    background: url(/static/images/ethan-sun.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 25px solid white;
    border-top: 0;
    background-color: gray;
}

#cloud_frame {
    background: url(/static/images/pexels-cloud.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0px solid white;
    border-top: 0;
    background-color: gray;
}

#sun_frame {
    background: url(/static/images/pexels-sun.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 25px solid white;
    border-top: 0;
    background-color: gray;
}

#rain_frame {
    background: url(/static/images/pexels-rain.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 25px solid white;
    border-top: 0;
    background-color: gray;
}

#snow_frame {
    background: url(/static/images/pexels-snow.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 25px solid white;
    border-top: 0;
    background-color: gray;
}

#storm_frame {
    background: url(/static/images/pexels-storm.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 25px solid white;
    border-top: 0;
    background-color: gray;
}

.content {
    font-family: meridian;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full_space {
    height: 90%;
}

.content_box {
    width:600px;
    height:300px;
    border: solid;
}

.form_box {
    width: 65%;
    height: 100%;
    padding: 0px;
}

canvas {
    background: url(/static/images/pexels-snow.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 25px solid white;
    border-top: 0;
    background-color: gray;
    position: absolute;
}
