<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap stylesheet -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous"
    >
    <!-- Glyphicons library -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"
    >
    <!-- My stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <i class="fas fa-exclamation-triangle"></i> {{ message }}
        </div>
        {% endfor %}
    </div>

    <!-- JS scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

<!-- NavBar -->
{% block navbar %} {% include "partials/_navbar.html" %} {% endblock navbar %}

<!-- Body -->
{% block content %}

{% endblock content %}
    <script>
    // Pause and Play buttons to control the YouTube video
        document.getElementById("play_button").addEventListener("click",
        function() {
            document.getElementById("play_button").style.display = "none";
            document.getElementById("pause_button").style.display = "block";
        });

        document.getElementById("pause_button").addEventListener("click",
        function() {
            document.getElementById("play_button").style.display = "block";
            document.getElementById("pause_button").style.display = "none";
        });

    // AJAX 'save song' on button click
        document.getElementById("save_song_form").addEventListener("submit", save_song);

        function save_song(event) {
            event.preventDefault();

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/save_song", true);

            xhr.onload = function() {
                if (this.status == 200) {
                    var success_message = JSON.parse(this.responseText)

                    console.log("Success!");
                    console.log(success_message["song_status"]);
                    document.getElementById("save_button").innerHTML = '<i class="fas fa-check"></i>';

                } else {
                    console.log("Request failed!");
                }
            }

            var data = new FormData();
            data.append("save_song", document.getElementById("save_song").value);
            data.append("save_url", document.getElementById("save_url").value);

            xhr.send(data)
        };

    // Bootstrap to allow popovers globally
        $(function () {
            $('[data-toggle="popover"]').popover({html:true})
        })
    </script>
</body>
</html>
