{% extends "base.html" %}
{% block title %} WxMusic | Sunny {% endblock title %}

{% block content %}
<div class="flex_center full_space" id="sun_frame">
    <div class="flex_center content_box">
        <iframe width="0" height="0" id="video"

                src="https://www.youtube.com/embed/erG5rgNYSdk?enablejsapi=1&autoplay=1"
                frameborder="0" allow="autoplay; encrypted-media; rel=0; fs=0;"
                >
        </iframe>

        <!-- These buttons will be used across the different weather pages and has the JS housed in the base.html -->
        <button class="btn btn-primary" id="play_button" style="display: none;"><i class="fas fa-play"></i></button>
        <button class="btn btn-primary" id="pause_button" ><i class="fas fa-pause"></i></button>

    </div>
</div>

{% endblock content %}